body {
  margin: 0;
  background: #e5e8e8;
  text-align: left;
}

/* Button animations */
.animate1,
.animate2,
.animate3,
.animate4 {

    animation-duration: 4s;
    animation-timing-function:ease-in;
}

.animate1 {animation-name: anim-1}
.animate2 {animation-name: anim-2}
.animate3 {animation-name: anim-3}
.animate4 {animation-name: anim-4}

@keyframes anim-1 {
    0%, 40% {opacity: 0; }
  40%, 55% { opacity: 1; }
}
@keyframes anim-2 {
    0%, 55% {opacity: 0; }
  55%, 70% { opacity: 1; }
}
@keyframes anim-3 {
    0%, 70% {opacity: 0; }
  70%, 85% { opacity: 1; }
}
@keyframes anim-4 {
    0%, 85% {opacity: 0; }
  85%, 100% { opacity: 1; }
}

/* Style the header */
.header {
    background: linear-gradient(to bottom, rgba(80,73,113,1), rgba(58,54,79,1));
    padding: 20px;
    color: #CDC5F2;
    text-align: center;
}

.logo_div {
   width:80vw;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 0;
}

.logo_img {
    max-width:80%;
    height:auto;
    max-height:80%;
}

.button {
    background-color: #6859BF;
    border: none;
    width: 160px;
    height: 160px;
    color: silver;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgba(125,35,255,0.15);
    color: black;
    border: none;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.16), 0 11px 25px 0 rgba(0,0,0,0.25);
}

.button1:hover {
    background-color: rgba(240,240,240,0.35);
    color: black;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.48), 0 13px 30px 0 rgba(0,0,0,0.50);
}
